.main{
    width: 99%;
    height:99%;
    float: left;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url(0.jfif); */
    /* color: blue; */
}

.Title_text{
    font-size: 300%;
    position: flex;
    /* transform: translate(-50%,0); */
    width: 100%;
    height: 15%;
    line-height: 250%;
    color: white;
    /* left: 50%; */
    font-family:"经典圆体繁", "microsoft yahei", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    display: block;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    border: 5px solid #D0E4F2;
    background-color: #4A6491;
}

.content{
    position: relative;
    width: 100%;
    height: 86%;
    display: block;
    border-bottom: 5px solid #D0E4F2;
    border-right: 5px solid #D0E4F2;
    border-left: 5px solid #D0E4F2;
}
.left_content{
    position: relative;
    width: 15%;
    height: 100%;
    display: block;
    border-right: 5px solid #D0E4F2;
    float: left;
    background-color: #4A6491;
}

.algorithm{
    font-size: 120%;
    font-family:"经典圆体繁", "microsoft yahei", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
    height: 10%;
    float: left;
    border-bottom: 5px solid #D0E4F2;
    background-color: #85a5cc;
}

.algorithm1{
    top: 30%;
    position: relative;
    transform: translateY(-50%);
}

.right_content{
    position: relative;
    width: 84.5%;
    height: 100%;
    display: block;
    float: left;
    background-color: #D0E4F2;
}

.right_content_block1{
    width: 50%;
    height: 85%;
    display: block;
    border-right: 5px solid #D0E4F2;
    float: left;
    background-color: white;
}

.right_content_block2{
    width: 49%;
    height: 85%;
    display: block;
    float: left;
    /* margin-left: 5px; */
    /* border-bottom: 5px solid white; */
    background-color: white;
}

.bottom_box{
    width: 100%;
    height: 14%;
    float: bottom;
    position: absolute;
    bottom: 1px;
    border-top: 5px solid #D0E4F2;
    background-color: #4A6491;
}

